
:root {
  // sizing
  --ui-navbar-height: 72px;
  --ui-sidebar-width: calc(320px - var(--ui-navbar-height));
  --ui-global-margin: 10vw;
    --HAMBURGER_ICON_SIZE: calc(var(--ui-navbar-height) - 50px);


  // color
  --ui-color-primary: #00CFFF;
  --ui-color-light-gray: #e7e7e7;
  --ui-color-background: #f8f9fa;
  --ui-color-text: #283c45;
  --ui-color-link-default: #9eeaf9;
  --ui-color-link-hover: var(--ui-color-primary);
  --ui-color-header: #dad7d7;
  --ui-color-sidebar: #c7c7c7;

  // transition
  --ui-transition-default-name: ease-in-out;
  --ui-transition-default-duration: .300s;

  //Cards
  --ui-card-header-width: 336px;
  --ui-card-header-height: 230px;
  --ui-card-figure-rounded: 12px;
  --ui-card-header-distance: 12px;
  
  --ui-card-header-title-fs: 24px;
  --ui-card-header-title-color: #FFF;
  --ui-card-header-title-line-height: 28px;
  --ui-card-header-title-fw: 700; 

  --ui-card-header-figure-border-radius: 12px;

  --ui-card-body-distance: 12px;
  --ui-card-title-distance: 4px;
  --ui-card-tags-distance: 4px;

  --ui-card-body-title-fs: 18px;
  --ui-card-body-title-fw: 700;
  --ui-card-body-title-line-height: 24px;

  --ui-card-size-min-desktop: 326px;
  --ui-card-size-min-mobile: 300px;

  --ui-card-size-max-mobile: 382px;
  --ui-card-size-max-desktop: 336px;

  --ui-card-button-inactive: #F6F6F6;
  --ui-card-button-color: #00CFFF;
  --ui-card-button-disable: #E5E5E5;
  --ui-card-button-active: #00CFFF;
  --ui-card-button-hover: #9eeaf9;
  --ui-card-button-shadow: rgba(0, 0, 0, 0.08);

  //Chips
  --ui-chips-bg: #F6F6F6;
  --ui-chips-height: 20px;
  --ui-chips-fs: 12px;
  --ui-chips-fw: 400;
  --ui-chips-text-color: var(--ui-color-text);
  --ui-chips-line-height: 24px;
  --ui-chips-border-radius: 10px;
  --ui-chips-padding: 9px;

  //Avatar
  --ui-avatar-size: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  position: relative;
  font-family: 'questrialregular';
}

body {
  background: var(--ui-color-light-gray);
  color: var(--ui-color-text);
  font-size: 15px;
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.5s, background-color 0.5s;
}
